<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @classroom.code %>
</p>

<p>
  <b>Description:</b>
  <%= @classroom.description %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
